{{define "edit"}}
{{template "header"}}

<div class="card">
    <div class="card-header">
        Empleados
    </div>

    <div class="card-body">
        <form method = "post" action="/tmpl/empleados/update">
                <input type="hidden"  value={{.Id}} class="form-control" name="id" id="id" placeholder="">

            <div class="form-group">
                 <label for="">Nombre</label>
                    <input type="text"
                    class="form-control" name="nombre" value={{.Nombre}} id="nombre" aria-describedby="helpId" placeholder="">
                    <small id="helpId" class="form-text text-muted">Escribe el nombre</small>
            </div>
        
            <div class="form-group">
                <label for="">Correo:</label>
                    <input type="email" class="form-control" name="correo"  value={{.Correo}} id="correo" aria-describedby="emailHelpId" placeholder="">
                    <small id="emailHelpId" class="form-text text-muted">Escribe correo electrónico</small>
            </div>
            <button type="submit" class="btn btn-success">Modificar empleado</button>
            <a name="" id="" class="btn btn-primary" href="/tmpl/empleados/" role="button">Cancelar</a>

        </form>
    </div>
</div>

{{template "footer"}}
{{end}}